EXPO_PUBLIC_API_URL=http://192.168.18.93:3000/api
EXPO_PUBLIC_USE_RN_FETCH=true
GOOGLE_MAPS_API_KEY=AIzaSyCGFBIf_6mCinwpqWw2Q-lHwNmK6u2iMhE
GOOGLE_MAPS_ANDROID_API_KEY=AIzaSyCZwOTwt0TXDJYwi3Vs8U6N8G9ZyDY5F-4
